<?xml version="1.0" encoding="UTF-8"?>

<bean id="customerDAO" class="com.tek.customer.dao.impl.JdbcCustomerDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="customerSimpleDAO" class="com.tek.customer.dao.impl.SimpleJdbcCustomerDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
</beans>