<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>Registration Form</display-name>
	<servlet>
        <display-name>Client</display-name>
        <servlet-name>Client</servlet-name>
        <servlet-class>com.kavya.ClientServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Success</display-name>
        <servlet-name>Success</servlet-name>
        <servlet-class>com.kavya.Success</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Client</servlet-name>
        <url-pattern>/register.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Success</servlet-name>
        <url-pattern>/Success</url-pattern>
    </servlet-mapping>
  <welcome-file-list>
    <welcome-file>register.jsp</welcome-file>
  </welcome-file-list>
</web-app>
